/* ===GLOBAL=== */
* {
  box-sizing: border-box;
}

.page_container{
  margin: 0 auto;
  width: 100%;
  font-family: sans-serif;
}

.page_section{
  width: 100%;
  padding: 0 7%;
  display: table;
  max-width: none;
  margin: 0;
  height: 100vh;
}

.content{
  display: table-cell;
  vertical-align: middle;
}

.content h2{
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
}

.content h3{
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
}

.content p{
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
}

/* ===HEADER=== */

.header{
  position: fixed;
  padding: 2%;
  width: 100%;
  background-color: #414042;
}

.navigation {
    text-align: center;
}

.main_menu_items {
    display: inline-block;
}

.navigation a {
  text-decoration: none;
  padding: 0.5% 8%;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
}

.navigation a:active {
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  text-decoration: none;
  color: #fff;
}


/* ===HOME=== */

#home{
  background: linear-gradient(#006986 30%, 75%, #2F2F68 90%);
}

.header_buffer{
  height: 15%;
}

.homepage_logo_wrap {
  display: inline-block;
  width: 100%;
  margin: auto;
}

img.homepage_logo {
  width: 80%;
  padding: 5%
}

.content{
  text-align: center;
}

.arrow_link{
  max-height: 4rem;
  cursor: pointer;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* ===SERVICES=== */

#services{
  background: linear-gradient(#2F2F68 30%, 75%, #006986 90%);
  color: #fff;
}

.triangle-down-right {
      width: 100%;
      height: 0;
      padding-top:100%;
      overflow: hidden;
  }
  .triangle-down-right:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      margin-top:-200px;
      border-top: 200px solid transparent;
      border-right: 800px solid #4679BD;
  }


/* ===PROJECTS=== */


#projects{
  background: linear-gradient(#006986 30%, 75%, #2F2F68 90%);
  color: #fff;
}

/* ===CONTACT=== */

#contact{
  background: linear-gradient(#2F2F68 30%, 75%, #006986 90%);
  color: #fff;
}

.contact_form{
  display: inline-block;
  margin: 3%;
  width: 40%;
}

form{
  text-align: left;
  margin: 2%;
}

label{
}

input{
  width: 100%;
  height: 2rem;
  margin-top: .5rem;
}

textarea{
  width: 100%;
  height: 8rem;
  margin-top: .5rem;
}

.form_button{
  background-color: #2F2F68;
  color: #fff;
  border: none;
  font-size: .9rem;
  padding: 1%;
}

/* ===FOOTER=== */

.footer{
  padding: 1% 5%;
  text-align:center;
  background-color: #414042;
  color: white;
}
